<%- include("../partials/header",{user: user}) %>

<div id="wrapper">


  <%- include("../partials/community/communityMenu",{user: user}) %>

  <div id="page-content-wrapper" style="padding:0;margin-top:60px">
    <div class="container-fluid page-content-div" style="padding:0">
      <div class="row">
        <div class="col-lg-12 scoll-possible" style="padding:0">

          <div class="community-header-top" style="height:50px;padding-top:6px;">
            <div class="col-sm-12 community-sub-head">
              <a class="btn community-head-btn active" href="/community/communitypanel">
                <i class="fa fa-users"></i>
              </a>
              <a class="btn community-head-btn" style="margin-left:10px" href="/community/list">
                <i class="fa fa-search"></i>
              </a>
            </div>
          </div>

          <div class="align-center-all">
            <div class="container">
              <div class="form-horizontal col-sm-3"></div>
              <div class="form-horizontal col-sm-6">
                <h3 class="page-header" style="color:#707070">Create Community</h3>
                <form action="/community/AddCommunity" method="POST" enctype="multipart/form-data">
                  <% if(success==1){ %>
                  <div class="form-group alert alert-success">Community Created Successfully</div>
                  <% } %>
                  <div class="form-group">
                    <input class="form-control" type="text" required="" name="communityName" placeholder="Name" maxlength="70">
                  </div>
                  <div class="form-group">
                    <label style="color:#707070">Description</label>
                      <textarea class="form-control" name="communityDescription" id="description" cols="30" rows="10"></textarea>
                  </div>
                  <div class="form-group ">
                    <label style="color:#707070">Rule :</label>
                    <input class="radio radio-inline" type="radio" checked="" value="Direct" name="communityMembershipRule"> Direct
                    <input class="radio radio-inline" type="radio" value="Permission" name="communityMembershipRule"> Permission
                  </div>
                  <div class="form-group" style="display:none;">
                    <input class="form-control" id="file" name="communityImage" type="file">
                  </div>
                
                  <div class="form-group">
                    <div class="col-xs-4 col-sm-3">
                      <span class="btn btn-warning" onclick="$('#file').click()">Upload Image</span>
                    </div>
                    <div class="col-xs-8 col-sm-9" style="overflow: scroll;white-space: nowrap;">
                      <p id="filename" style="font-size:18px;font-weight:bold;color:#707070"></p>
                    </div>
                  </div>
                
                  <div class="form-group">
                    <button class="form-control btn btn-primary" type="submit" >Create Community</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  var selector = '.nav li';
  $(selector).removeClass('active');
  $('#add-community-nav').addClass('active');
</script>
<script src="/javascripts/Common.js"></script>
<script src="/Plugins/js/trumbowyg.min.js"></script>
<script>

  $(document).ready(function () {
      $('#file').change(function (e) {
        var fileName = e.target.files[0].name;
        $('#filename').text(fileName);
      });
    });
  $.trumbowyg.svgPath = '../images/icons/icons.svg';
  $('#description').trumbowyg();

</script>


