<%- include("partials/header",{user: user}) %>

<div id="wrapper">
  <!-- Sidebar -->

  <% include partials/admin/adminMenu %>

  <div id="page-content-wrapper" style="padding:0;margin-top:60px">
    <!--Margin Top is new-->
    <div class="container-fluid page-content-div" style="padding:0">
      <div class="row">
        <div class="col-lg-12 scoll-possible" style="padding:0">


          <div class="container">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-6" style="background-color:#fff;border:5px solid rgba(0,0,0,0.1);margin-top:40px">
              <br>

              <h1>Change Password</h1>

              <form action="/user/changePassword" method="post" class="form-horizontal" id="form">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label>Old Password:</label>&nbsp;&nbsp;<br>
                    <input type="password" required name="oldPassword" class="form-control" id="oldPassword"><br />
                  </div>
                  <div class="form-group">
                    <label>New Password:</label>&nbsp;&nbsp;<br>
                    <input type="password" required name="newPassword" class="form-control" id="newPassword"><br />
                  </div>

                  <% if(flag== 1 ){ %>
                  <div class="alert alert-success form-group" style="display: block">Password Updated</div>
                  <% }else if(flag == 2){ %>
                  <div class="alert alert-danger form-group" style="display: block">Password Incorrect</div>
                  <% } %>

                  <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-success">
                  </div>
                </div>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<!--Header-->
<script src="/javascripts/Common.js"></script>

<script>
  var selector = '.nav li';
  $(selector).removeClass('active');
  $('#change-password-nav').addClass('active');
</script>

</body>
<html>