<%- include("partials/header",{user: user}) %>

<div id="wrapper">

  <% include partials/admin/adminMenu %>

  <style>
    table.dataTable tbody td {
      padding: 4px 10px;
    }
  </style>
  <div id="page-content-wrapper" style="padding:0;margin-top:60px">
    <div class="container-fluid page-content-div" style="padding:0; margin-left: 20px; margin-right: 20px ">
      <div class="row">
        <div class="col-lg-12 scoll-possible" style="padding:0">
          <div style="margin-left:20px;margin-right:20px;margin-top:20px">
            
            <div class="modal fade in" id="popUp" role="dialog" style="z-index: 9999; display: none; padding-left: 0px;">
              <div class="modal-dialog">
            
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title" id="mailheader">Send Reminder Mail</h4>
                  </div>
                  <div class="modal-body">
                    <!------------------------------------------------------------------------------------>
                    <div class="form-horizontal">
                      <!-- form -->
                      <div class="form-group">
                        <label class="control-label col-sm-2" for="email">To:</label>
                        <div class="col-sm-10">
                          <input type="email" name="username" class="form-control" id="emailPop" readonly="">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-sm-2">Subject:</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" name="subject" id="subject" placeholder="Title">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-12">
                          <!--Body-->
                          <textarea type="text" class="form-control trumbowyg-textarea" name="body" id="body" tabindex="-1"
                            style="height: 0px;"></textarea>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                          <button class="btn btn-default" id="mailbutton" style="float:right">Send</button>
                        </div>
                      </div>
                    </div> <!-- form -->
                    <!---------------------------------------------------------------------------------->
                    </div>
                </div>
              </div>
            </div>

            <div class="modal fade in" id="updateUser" role="dialog" style="z-index: 9999; display: none;">
              <div class="modal-dialog">
            
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title" id="usernamePop">Update 00@gmail.com</h4>
                  </div>
                  <div class="modal-body">
                    <!------------------------------------------------------------------------------------>
                    <div class="form-horizontal">
                      <div class="form-group">
                        <div class="col-lg-5 col-lg-offset-3" style="width:50%">
                          <input type="text" name="_id" style="text-align:center;display:none;" class="form-control" id="_id"
                            readonly="">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-sm-2">Username:</label>
                        <div class="col-sm-10">
                          <input type="text" name="username" class="form-control" id="username" placeholder="Username">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-sm-2">Phone:</label>
                        <div class="col-sm-10">
                          <input type="text" name="phone" class="form-control" id="phone" placeholder="Phone" maxlength="15">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-sm-2">City:</label>
                        <div class="col-sm-10">
                          <input type="text" name="city" class="form-control" id="city" placeholder="City">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-sm-2">Status:</label>
                        <div class="col-sm-10">
                          <select class="form-control" id="status" name="status">
                            <option name="pending" value="pending">Pending</option>
                            <option name="confirmed" value="confirmed">Confirmed</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-sm-2">Role:</label>
                        <div class="col-sm-10">
                          <select class="form-control" id="role" name="role">
                            <option name="user" value="user">User</option>
                            <option name="admin" value="commuity manager">Community Builder</option>
                            <option name="admin" value="admin">Admin</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                          <button class="btn btn-default" id="editsubmit">Update</button>
                        </div>
                      </div>
                    </div>
                    <!---------------------------------------------------------------------------------->
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

            <div class="form-control allSides" id="roleFilterTitle" style="float: left;width:90px;font-weight:bold;">
              User List
            </div>
            <select onchange="filterRole()" class="form-control filter-button" id="roleFilter" name="filter"
              style="float: right;margin-left: 10px;">
              <option name="user" value="">All</option>
              <option name="user" value="admin">Admins</option>
              <option name="admin" value="user">Users</option>
              <option name="commuity manager" value="commuity manager">Community Builder</option>
            </select>
            <select onchange="filterStatus()" class="form-control filter-button" id="statusFilter" name="statusFilter"
              style="float: right;margin-left: 10px;">
              <option name="user" value="">All</option>
              <option name="pending" value="pending">Pending</option>
              <option name="confirmed" value="confirmed">Confirmed</option>
            </select>
            <button onclick="refresh()" class="btn btn-default"
              style="float: right;background-color: #2D312C;color: #fff">
              <span class="glyphicon glyphicon-refresh"></span> Refresh
            </button>
            <br><br><br>
            <table class="table table-striped table-bordered nowrap dataTable no-footer" id="usertable"
              style="width: 100%; display: table;">
              <thead>
                <tr role="row">
                  <th class="tableId">User Id</th>
                  <th class="tableUname">Usename/Email</th>
                  <th class="tablePhone">Phone</th>
                  <th class="tableCity sorting">City</th>
                  <th class="tableStatus sorting">Status</th>
                  <th class="tableRole sorting">Role</th>
                  <th class="tableAction">Actions</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




  </body>

  
  <script>
    var table = $(document).ready(function () {


      $('#usertable').DataTable({
        "processing": true,
        "serverSide": true,

        "ajax": {
          "url": "/getusers",
          "type": "POST",
          
        },
        "columns": [
          { "data": "_id" },
          { "data": "Email" },
          { "data": "Phone" },
          { "data": "City" },
          { "data": "Status" },
          { "data": "Role" },
          { "data": "Actions", "orderable": false, "searchable": false }
        ],
        "order": [[1,"asc"]],
        "columnDefs": [
          {
            "targets": [0],
            "orderable": false, "visible": false 
          },
          {
            "targets": [-1],
            "render": function(data, type, row, meta){
              if(row.Role == 'superuser')
                return '<center><a class="btn btn-primary btn-sm emailbtn actionbtns" data-toggle="modal" data-target="#popUp" id="emailbtn" style="background:#000"><span class="fa fa-envelope" style="color:#fff"></span></a></center>';
              else if((row.Status) == 'Confirmed'){
                return '<center><a class="btn btn-primary btn-sm emailbtn actionbtns" data-toggle="modal" data-target="#popUp" id="emailbtn" style="background:#000"><span class="fa fa-envelope" style="color:#fff"></span></a><a class="btn btn-primary btn-sm editbtn actionbtns" data-toggle="modal" data-target="#updateUser" id="editbtn"><span class="fa fa-edit"></span></a><a class="btn btn-warning btn-sm deactivebtn actionbtns"><span class="fa fa-times-circle"></span></a></center>';
              }
              else return '<center><a class="btn btn-primary btn-sm emailbtn actionbtns" data-toggle="modal" data-target="#popUp" id="emailbtn" style="background:#000"><span class="fa fa-envelope" style="color:#fff"></span></a><a class="btn btn-primary btn-sm editbtn actionbtns" id="editbtn" data-toggle="modal" data-target="#updateUser"><span class="fa fa-edit"></span></a><a class="btn btn-success btn-sm activebtn actionbtns"><span class="fa fa-check-circle"></span></a></center>';
            }
                
          },
          // {
          //   "targets": [0],
          //   "visible": false
          // }
        ],
        "contentType": "application/json"
        
      });
      // console.log();
      // draw();


    });


    setTimeout(function () {
        var buttons = document.getElementsByClassName('activebtn');
        for (var i = 0; i < buttons.length; i++) {
          console.log(buttons[i]);
          buttons[i].addEventListener('click', function () {
            // console.log();
            // console.log(this.parentNode.parentNode.parentNode.childNodes[0].innerHTML);
            $.confirm({
              title: 'Activate User?',
              content: 'Are you sure you want to activate ' + this.parentNode.parentNode.parentNode.childNodes[0].innerHTML,
              buttons: {
                Yes: {
                  btnClass: 'btn-green',
                  action: function(){}
                    // $.alert('Yes');
                },
                No: {
                  btnClass: 'btn-red',
                  action: function(){}
                    // $.alert('No');
                },
              }
            });
          });
        }
        var buttons = document.getElementsByClassName('deactivebtn');
        for (var i = 0; i < buttons.length; i++) {
        console.log(buttons[i]);
        buttons[i].addEventListener('click', function () {
          // console.log();
          // console.log(this.parentNode.parentNode.parentNode.childNodes[0].innerHTML);
          this.setAttribute('id','deactivatebtn');
          $.confirm({
            title: 'Deactivate User?',
            content: 'Are you sure you want to deactivate ' + this.parentNode.parentNode.parentNode.childNodes[0].innerHTML,
            buttons: {
              Yes: {
                btnClass: 'btn-green',
                action: function () { 
                  var el = document.getElementById('deactivatebtn');
                  el.removeAttribute('id');
                  el.childNodes[0].removeAttribute('class');
                  el.childNodes[0].setAttribute('class','fa-check-circle');
                  // buttons[i].toggleAttribute('class','activebtn');
                }
                // $.alert('Yes');
              },
              No: {
                btnClass: 'btn-red',
                action: function () { }
                // $.alert('No');
              },
            }
          });
        });
      }
      }, 800);

    // function refresh(){
    //   table.draw();
    // }
    $('#usertable').on('click', 'tr', function () {
      //console.log($('#usertable').DataTable().row(this).data());
      var flag = 0;
      var to = document.getElementById('emailPop');
      var data = $('#usertable').DataTable().row(this).data();
      to.value = data.Email;
      // console.log($('#usertable').DataTable().row(this).data());
      // console.log($('#usertable tbody tr td:nth-child(6) center a:nth-child(3)'));
      // if(!flag){
      //   flag = 1;
        
      // }
      
      // buttons = document.getElementsByClassName('deactivebtn');
      // for (var i = 0; i < buttons.length; i++) {
      //   // console.log(buttons[i]);
      //   buttons[i].addEventListener('click', function () {
      //     $.confirm({
      //       title: 'Deactivate User?',
      //       content: 'Are you sure you want to deactivate ' + data.Name,
      //       buttons: {
      //         Yes: function () {
      //           btnClass: 'btn-green',
      //             $.alert('Yes');
      //         },
      //         No: function () {
      //           btnClass: 'btn-red',
      //             $.alert('No');
      //         },
      //       }
      //     });
      //   });
      // }

      // $('#usertable tbody tr td:nth-child(6) center a:nth-child(3)').on('click', function (){
      //   console.log("G");
      //   $.confirm({
      //     title: 'Activate User?',
      //     content: 'Are you sure you want to activate ' + data.Name,
      //     buttons: {
      //       Yes: function () {
      //         btnClass: 'btn-green',
      //           $.alert('Yes');
      //       },
      //       No: function () {
      //         btnClass: 'btn-red',
      //           $.alert('No');
      //       },
      //     }
      //   });
      // });


    });

    
      // console.log(h);


  </script>

  <script>
    var selector = '.nav li';
    $(selector).removeClass('active');
    $('#user-list-nav').addClass('active');
  </script>
  <script src="/javascripts/Common.js"></script>
  <script src="../Plugins/js/trumbowyg.min.js"></script>
  <script>
    	$.trumbowyg.svgPath = '../images/icons/icons.svg';
        $('#body').trumbowyg();
      // alert("T");
  </script>
  <script>
    function setMail(){

    }
  </script>
  </html>