<% include partials/header %>

<div id="wrapper">

  <% include partials/admin/adminMenu %>
  <style>
  table.dataTable tbody td {
    padding: 4px 10px;
}
  </style>
  <div id="page-content-wrapper" style="padding:0;margin-top:60px">
    <div class="container-fluid page-content-div" style="padding:0">
      <div class="row">
        <div class="col-lg-12 scoll-possible" style="padding:0">
          <div style="margin-left:20px;margin-right:20px;margin-top:20px">
            <div class="form-control allSides" id="roleFilterTitle" style="float: left;width:90px;font-weight:bold;">
              User List
            </div>
            <select class="form-control filter-button" id="roleFilter" name="filter"
              style="float: right;margin-left: 10px;">
              <option name="user" value="">All</option>
              <option name="user" value="admin">Admins</option>
              <option name="admin" value="user">Users</option>
              <option name="commuity manager" value="commuity manager">Community Builder</option>
            </select>
            <select class="form-control filter-button" id="statusFilter" name="statusFilter"
              style="float: right;margin-left: 10px;">
              <option name="user" value="">All</option>
              <option name="pending" value="pending">Pending</option>
              <option name="confirmed" value="confirmed">Confirmed</option>
            </select>
            <button onclick="refresh()" class="btn btn-default"
              style="float: right;background-color: #2D312C;color: #fff">
              <span class="glyphicon glyphicon-refresh"></span> Refresh
            </button>
            <br><br><br>
            <table class="table table-striped table-bordered nowrap dataTable no-footer" id="usertable" style="width: 100%; display: table;">
              <thead>
                <tr role="row">
                  <th class="tableId sorting_disabled">User Id</th>
                  <th class="tableUname sorting_asc">Usename/Email</th>
                  <th class="tablePhone sorting_disabled">Phone</th>
                  <th class="tableCity sorting">City</th>
                  <th class="tableStatus sorting">Status</th>
                  <th class="tableRole sorting">Role</th>
                  <th class="tableAction sorting_disabled">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr >
                  <td class=" tableId">5cf289340a79ed143952597c</td>
                  <td class="tableUname sorting_1">00000@gmail.com</td>
                  <td class=" tablePhone">4343243234</td>
                  <td class=" tableCity">342</td>
                  <td class=" tableStatus">pending</td>
                  <td class=" tableRole">user</td>
                  <td class=" tableAction">
                    <center>
                      <a class="btn btn-primary btn-sm emailbtn actionbtns" style="background:#000">
                        <span class="fa fa-envelope" style="color:#fff"></span>
                      </a>
                      <a class="btn btn-primary btn-sm editbtn actionbtns">
                        <span class="fa fa-edit"></span>
                      </a>
                      <a class="btn btn-warning btn-sm activebtn actionbtns" id="">
                        <span class="fa fa-times-circle"></span>
                      </a>
                    </center>
                  </td>
                </tr>
                <tr>
                  <td class=" tableId">5cghhghhuy143952597c</td>
                  <td class="tableUname sorting_1">abc@gmail.com</td>
                  <td class=" tablePhone">43384443234</td>
                  <td class=" tableCity">3pdh</td>
                  <td class=" tableStatus">Confirmed</td>
                  <td class=" tableRole">Admin</td>
                  <td class=" tableAction">
                    <center>
                      <a class="btn btn-primary btn-sm emailbtn actionbtns" style="background:#000">
                        <span class="fa fa-envelope" style="color:#fff"></span>
                      </a>
                      <a class="btn btn-primary btn-sm editbtn actionbtns">
                        <span class="fa fa-edit"></span>
                      </a>
                      <a class="btn btn-warning btn-sm activebtn actionbtns" id="">
                        <span class="fa fa-times-circle"></span>
                      </a>
                    </center>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>


  </body>
  <script>
    var table = $(document).ready(function () {
      $('#usertable').DataTable({
        "processing": true,
        "serverSide": true,
        "ajax": {
          "url": "/getusers",
          "type": "POST"
        },
        "columns": [
          { "data": "email" },
          { "data": "phone" },
          { "data": "city" },
          { "data": "status" },
          { "data": "role" },
          { "data": "null" }
        ]
      });
      
    });

    function refresh(){
      t.row.add([
        counter + '.1',
        counter + '.2',
        counter + '.3',
        counter + '.4',
        counter + '.5'
      ]).draw(false);
    }
  </script>

  </html>