<%- include("partials/header",{user: user}) %>

<div id="wrapper">

  <% if(user.Role.toLowerCase() == 'user' || user.Switch == 1){ %>
  <%- include("partials/community/communityMenu",{user: user}) %>
  <% } else { %>
  <%- include partials/admin/adminMenu %>
  <% } %>
  <style>
    table.dataTable tbody td {
      padding: 4px 10px;
    }
  </style>
  <div id="page-content-wrapper" style="padding:0;margin-top:60px">
    <div class="container-fluid page-content-div" style="padding:0; margin-left: 20px; margin-right: 20px ">
      <div class="row">
        <div class="col-lg-12 scoll-possible" style="padding:0">
          <div style="margin-left:20px;margin-right:20px;margin-top:20px">

            <div class="modal fade in" id="popUp" role="dialog"
              style="z-index: 9999; display: none; padding-left: 0px;">
              <div class="modal-dialog">

                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title" id="mailheader">Send Reminder Mail</h4>
                  </div>
                  <div class="modal-body">
                    <!------------------------------------------------------------------------------------>
                    <div class="form-horizontal">
                      <!-- form -->
                      <div class="form-group">
                        <label class="control-label col-sm-2" for="email">To:</label>
                        <div class="col-sm-10">
                          <input type="email" name="username" class="form-control" id="emailPop" readonly="">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-sm-2">Subject:</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" name="subject" id="subject" placeholder="Title">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-12">
                          <!--Body-->
                          <textarea type="text" class="form-control trumbowyg-textarea" name="body" id="body"
                            tabindex="-1" style="height: 0px;"></textarea>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                          <button class="btn btn-default" id="mailbutton" style="float:right">Send</button>
                        </div>
                      </div>
                    </div> <!-- form -->
                    <!---------------------------------------------------------------------------------->
                  </div>
                </div>
              </div>
            </div>

            <div class="modal fade in" id="updateUser" role="dialog" style="z-index: 9999; display: none;">
              <div class="modal-dialog">

                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title" id="usernamePop">Update <span id='userNameInUpdate'></span></h4>
                  </div>
                  <div class="modal-body">
                    <!------------------------------------------------------------------------------------>
                    <div class="form-horizontal">
                      <div class="form-group">
                        <div class="col-lg-5 col-lg-offset-3" style="width:50%">
                          <input type="text" name="_id" style="text-align:center;display:none;" class="form-control"
                            id="_id" readonly="">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-sm-2">Username:</label>
                        <div class="col-sm-10">
                          <input type="text" disabled name="username" class="form-control" id="username"
                            placeholder="Username">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-sm-2">Phone:</label>
                        <div class="col-sm-10">
                          <input type="text" name="phone" class="form-control" id="phone" placeholder="Phone"
                            maxlength="15">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-sm-2">City:</label>
                        <div class="col-sm-10">
                          <input type="text" name="city" class="form-control" id="city" placeholder="City">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-sm-2">Status:</label>
                        <div class="col-sm-10">
                          <select class="form-control" id="status" name="status">
                            <option name="pending" value="pending">Pending</option>
                            <option name="confirmed" value="confirmed">Confirmed</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-sm-2">Role:</label>
                        <div class="col-sm-10">
                          <select class="form-control" id="role" name="role">
                            <option name="user" value="user">User</option>
                            <option name="community builder" value="community builder">Community Builder</option>
                            <option name="admin" value="admin">Admin</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                          <button class="btn btn-default" id="editsubmit">Update</button>
                        </div>
                      </div>
                    </div>
                    <!---------------------------------------------------------------------------------->
                  </div>
                  <div class="modal-footer">
                    <div style="display: none;text-align: center;margin: 1% 20%" id="invalid"
                      class="alert alert-danger">Failed To Update</div>
                    <div style="display: none;text-align: center;margin: 1% 20%" id="done" class="alert alert-success">
                      Updated</div>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-control allSides" id="roleFilterTitle" style="float: left;width:90px;font-weight:bold;">
            User List
          </div>
          <select onchange="filterRole()" class="form-control filter-button" id="roleFilter" name="filter"
            style="float: right;margin-left: 10px;">
            <option name="user" value="All">All</option>
            <option name="user" value="admin">Admins</option>
            <option name="admin" value="user">Users</option>
            <option name="community builder" value="community builder">Community Builder</option>
          </select>
          <select onchange="filterStatus()" class="form-control filter-button" id="statusFilter" name="statusFilter"
            style="float: right;margin-left: 10px;">
            <option name="user" value="All">All</option>
            <option name="pending" value="pending">Pending</option>
            <option name="confirmed" value="confirmed">Confirmed</option>
          </select>
          <button onclick="refresh()" class="btn btn-default"
            style="float: right;background-color: #2D312C;color: #fff">
            <span class="glyphicon glyphicon-refresh"></span> Refresh
          </button>
          <br><br><br>
          <table class="table table-striped table-bordered nowrap dataTable no-footer" id="usertable"
            style="width: 100%; display: table">
            <thead>
              <tr>
                <th class="tableId">User Id</th>
                <th class="tableUname">Usename/Email</th>
                <th class="tablePhone">Phone</th>
                <th class="tableCity sorting">City</th>
                <th class="tableStatus sorting">Status</th>
                <th class="tableRole sorting">Role</th>
                <th class="tableAction">Actions</th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

</body>


<script>
  var usertable = document.getElementById('usertable');

  function getData() {

    $(document).ready(function () {
    table = $('#usertable').DataTable({
        "processing": true,
        "serverSide": true,

        "ajax": {
          "url": "/getusers",
          "type": "POST",
          "data": function (d) {
            d.status = document.getElementById('statusFilter').value;
            d.role = document.getElementById('roleFilter').value;
          }
        },
        "columns": [
          { "data": "_id" },
          { "data": "Email" },
          { "data": "Phone" },
          { "data": "City" },
          { "data": "Status", "orderable": false },
          { "data": "Role", "orderable": false },
          { "data": "Actions", "orderable": false, "searchable": false }
        ],
        "order": [[1, "asc"]],
        "columnDefs": [
          {
            "targets": [0],
            "orderable": false, "visible": false
          },
          {
            "targets": [-1],
            "render": function (data, type, row, meta) {
              if (row.Super == true)
                return '<center><a class="btn btn-primary btn-sm emailbtn actionbtns" data-toggle="modal" data-target="#popUp" id="emailbtn" style="background:#000"><span class="fa fa-envelope" style="color:#fff"></span></a></center>';
              else if ((row.Active) == true) {
                return '<center><a class="btn btn-primary btn-sm emailbtn actionbtns" data-toggle="modal" data-target="#popUp" id="emailbtn" style="background:#000"><span class="fa fa-envelope" style="color:#fff"></span></a><a class="btn btn-primary btn-sm editbtn actionbtns" data-toggle="modal" data-target="#updateUser" id="editbtn"><span class="fa fa-edit"></span></a><a class="btn btn-warning btn-sm deactivebtn actionbtns" onclick="listenerOnDeactivate()"><span class="fa fa-times-circle"></span></a></center>';
              }
              else return '<center><a class="btn btn-primary btn-sm emailbtn actionbtns" data-toggle="modal" data-target="#popUp" id="emailbtn" style="background:#000"><span class="fa fa-envelope" style="color:#fff"></span></a><a class="btn btn-primary btn-sm editbtn actionbtns" id="editbtn" data-toggle="modal" data-target="#updateUser"><span class="fa fa-edit"></span></a><a class="btn btn-success btn-sm activebtn actionbtns" onclick="listenerOnActivate()"><span class="fa fa-check-circle"></span></a></center>';
            }
          },
        ],
        "contentType": "application/json"
      });
    });
  }
  var roleFilter = document.getElementById('roleFilter').value;
  var statusFilter = document.getElementById('statusFilter').value;
  getData();

  function filterStatus(){
    var roleFilter = document.getElementById('roleFilter').value;
    var statusFilter = document.getElementById('statusFilter').value;
    table.ajax.reload(null,false);
  }

  function filterRole(){
    var roleFilter = document.getElementById('roleFilter').value;
    var statusFilter = document.getElementById('statusFilter').value;
    table.ajax.reload(null, false);
  }

  function listenerOnDeactivate() {
    var row = $(event.target).closest('tr')[0];
    $.confirm({
      title: 'Deactivate User?',
      content: 'Are you sure you want to deactivate ' + row.childNodes[0].innerHTML,
      buttons: {
        Yes: {
          btnClass: 'btn-green',
          action: function () {
            var el = document.getElementById('deactivatebtn');
            el.removeAttribute('id');
            el.childNodes[0].removeAttribute('class');
            el.childNodes[0].setAttribute('class', 'fa-check-circle');
            // buttons[i].toggleAttribute('class','activebtn');
          }
          // $.alert('Yes');
        },
        No: {
          btnClass: 'btn-red',
          action: function () { }
          // $.alert('No');
        },
      }
    });
  }

  function listenerOnActivate() {
    var row = $(event.target).closest('tr')[0];
    // console.log(el.childNodes[0]);
    $.confirm({
      title: 'Activate User?',
      content: 'Are you sure you want to activate ' + row.childNodes[0].innerHTML, // event.target.parentNode
      buttons: {
        Yes: {
          btnClass: 'btn-green',
          action: function () { }
          // $.alert('Yes');
        },
        No: {
          btnClass: 'btn-red',
          action: function () { }
          // $.alert('No');
        },
      }
    });
  }

  function refresh(){
    table.ajax.reload(null, false);
  }

  $('#usertable').on('click', 'tr', function () {

    //MAIL
    var toMail = document.getElementById('emailPop');
    var data = $('#usertable').DataTable().row(this).data();
    if(data != undefined){
      console.log(data);
      toMail.value = data.Email;
      document.getElementById('userNameInUpdate').innerHTML = data.Email;
      var uname = document.getElementById('username');
      uname.value = data.Email;
      var phone = document.getElementById('phone');
      phone.value = data.Phone;
      var city = document.getElementById('city');
      city.value = data.City;
      var status = $('#status');
      status.value = data.Status;
      var role = document.getElementById('role');
      role.value = data.Role;
    }

    document.getElementById('editsubmit').addEventListener('click', update);

    function update() {
      var tmp = new Object;
      tmp.uname = data.Email;
      tmp.phone = phone.value;
      tmp.city = city.value;
      tmp.status = status.value;
      tmp.role = role.value;

      var xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {
          if (xhttp.status === 200) {
            // console.log(this.responseText);
            data = JSON.parse(this.responseText);
            if (data.done == 1) {
              document.getElementById('done').setAttribute('style', 'display: block;text-align: center;margin: 1% 20%');

            }
            else {
              divInvalid.setAttribute('style', 'display: block;text-align: center;margin: 1% 20%');
            }
          }
        }
      }
      xhttp.open("POST", "/admin/updateuser");
      xhttp.setRequestHeader("Content-Type", "application/json");
      xhttp.send(JSON.stringify(tmp));

    }
 

  });



</script>

<script>
  var selector = '.nav li';
  $(selector).removeClass('active');
  $('#user-list-nav').addClass('active');
</script>
<script src="/javascripts/Common.js"></script>
<script src="../Plugins/js/trumbowyg.min.js"></script>


<script>
  $(document).ready(function(){
    $('#usertable_filter > label > input').addClass('input-sm form-control');
    $('#usertable_length > label > select').addClass('input-sm form-control');
    
  });
  
  $.trumbowyg.svgPath = '../images/icons/icons.svg';
  $('#body').trumbowyg();
      // alert("T");
</script>

<script>

  var btnSend = document.getElementById('mailbutton');
  btnSend.addEventListener('click', function () {
    var tmp = new Object();
    tmp.to = document.getElementById('emailPop').value;
    tmp.subject = document.getElementById('subject').value;
    tmp.body = document.getElementById('body').value;
    tmp.name = "CQ";
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function () {
      if (this.readyState == 4 && this.status == 200) {
        if (xhttp.status === 200) {
          console.log(xhttp.responseText);
          console.log("Email Send");
        }
      }
    }
    xhttp.open("POST", "/sendmail");
    xhttp.setRequestHeader("Content-Type", "application/json");
    xhttp.send(JSON.stringify(tmp));

  });

</script>

</html>